google==3.0.0
google-api-core==2.17.1
google-api-python-client==2.122.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
gspread==6.0.2
gspread-dataframe==3.3.1
gspread-formatting==1.1.2
gspread-pandas==3.3.0
panda==0.3.1
pandas==1.5.3
plotly==5.19.0
streamlit==1.31.1
